@import url("https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BenchNine:wght@300;400;700&family=Brygada+1918:ital,wght@0,400..700;1,400..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background: #0d1625;
  background-image: url("/bg.png");
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 1.2em;
  line-height: 1.1;
}

.font-brygada {
  font-family: "Brygada 1918";
  font-weight: 700;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 0.7em;
}

.benchnine-bold {
  font-family: "BenchNine";
  font-weight: 700;
  font-style: normal;
  font-size: 2em;
}

.benchnine {
  font-family: "BenchNine";
  font-weight: 700;
  font-style: normal;
  font-size: 1.9em;
  padding: 0.5em;
}

.passenger-img {
  border: 2px solid #fff;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  width: 130px;
  height: 130px;
  justify-content: center;

  img {
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    max-height: 130px;
    max-width: 130px;
    width: 100%;
  }
}

.passenger-img-profile {
  border: 2px solid #fff;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
  }
}

.active {
  color: white;
  font-weight: 600;
}

.active-filter {
  background: #fff;
  color: #0d1625;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.gallery-link {
  width: 400px;
}

.gallery-item {
  cursor: pointer;
  text-align: center;
}

.gallery-item img {
  object-fit: cover;
  border-radius: 20px;
  background: white;
  padding: 0.5rem;
  box-shadow: -20px -20px 0px -7px rgba(255, 255, 255, 1);
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.image-grid img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

/* src/GalleryDetail.css */
.gallery-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.gallery-scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 1rem;
}

.gallery-images {
  margin: 10px;
  flex: 0 0 auto;
}

.gallery-images img {
  object-fit: cover;
}

.gallery-images.large img {
  width: 400px;
  height: 616px;
  border-radius: 20px;
  background: white;
  padding: 10px;
}

.gallery-images.small img {
  width: 200px;
  height: 300px;
  border-radius: 20px;
  background: white;
  padding: 10px;
}

.gallery-images.small {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Style de la scrollbar */
.gallery-scroll::-webkit-scrollbar {
  height: 20px;
}

.gallery-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.gallery-scroll::-webkit-scrollbar-thumb {
  background: rgba(
    255,
    255,
    255,
    0.5
  ); /* Fond semi-transparent pour le thumb */
  border: 2px solid white; /* Bordure blanche */
  border-radius: 10px; /* Rayon des bordures */
}

/* Styles pour la modale */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  flex-direction: column;
  gap: 1rem;
}

.modal-content {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  background: white;
  padding: 10px;
  border-radius: 20px;
}

.modal-content img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
